{
  "extends": ["taro/react", "prettier"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "definePageConfig": "readonly",
    "defineAppConfig": "readonly",
    "VERSION": "readonly",
    "wx": "readonly"
  }
}
